<ion-content>
  <body class="screen">
    <section class="container container-form">
      <!-- Logo -->
      <figure>
        <img src="assets/images/logo.png" alt="Logo" class="app-icon">
      </figure>
      <h1>Reestablecer Contraseña</h1>
      <!-- Formulario de olvido de contraseña -->
      <form [formGroup]="form" autocomplete="off">
        <label class="container-input">
          <p class="labels">Nueva Contraseña</p>
          <input type="password" formControlName="newPassword"
            [ngClass]="{'error': form.get('newPassword')?.invalid && form.get('newPassword')?.dirty}">
          @if(form.get('newPassword')?.invalid && form.get('newPassword')?.
          dirty) {
          <div class="error-message">
            @if (form.get('newPassword')?.errors?.['required']) {
            La nueva contraseña es obligatoria.
            } @else if (form.get('newPassword')?.errors?.['minlength']) {
            La nueva contraseña debe tener al menos 6 caracteres.
            }
          </div>
          }
        </label>
        <label class="container-input">
          <p class="labels">Confirmar Nueva Contraseña</p>
          <input type="password" formControlName="confirmPassword"
            [ngClass]="{'error':
            form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.
            dirty}">
          @if(form.get('confirmPassword')?.invalid &&
          form.get('confirmPassword')?.dirty) {
          <div class="error-message">
            @if (form.get('confirmPassword')?.errors?.['required']) {
            La confirmación de la nueva contraseña es obligatoria.
            } @else if (form.get('confirmPassword')?.errors?.['mismatch']) {
            Las contraseñas no coinciden.
            }
          </div>
          }
        </label>
        <button (click)="onResetPassword()" [disabled]="form.invalid"
          class="btn btn-primary">REESTABLECER CONTRASEÑA</button>
      </form>
    </section>
  </body>
</ion-content>