<ion-content>
  <body class="screen">
    <!-- Pantalla de carga inicial -->
    <section class="container container-splash">
      <!-- Logo -->
      <figure>
        <img src="assets/images/logo.png" alt="Logo Visual Optica Plus" class="app-icon">
      </figure>
       <!-- Barras de carga -->
      <p class="text-loading">Cargando...</p>
      <article class="loading">
        <span class="bar bar-1"></span>
        <span class="bar bar-2"></span>
        <span class="bar bar-3"></span>
        <span class="bar bar-4"></span>
        <span class="bar bar-5"></span>
        <span class="bar bar-6"></span>
        <span class="bar bar-7"></span>
        <span class="bar bar-8"></span>
        <span class="bar bar-9"></span>
        <span class="bar bar-10"></span>
        <span class="bar bar-11"></span>
        <span class="bar bar-12"></span>
      </article>
    </section>
  </body>
</ion-content>