#main-content {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1; /* Asegurar que el contenido esté por encima cuando el menú está cerrado */
  display: flex;
  flex-direction: column;
  
  &.with-header {
    padding-top: 66px; /* Height of header - accounts for fixed header */
  }
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

ion-router-outlet {
  display: block;
  width: 100%;
  flex: 1;
  position: relative;
  z-index: 1;
  min-height: 0;
}
