<ion-content>
  <body class="screen">
    <section class="container container-form">
      <!-- Logo -->
      <figure>
        <img src="assets/images/logo.png" alt="Logo" class="app-icon">
      </figure>
      <h1>RECUPERAR CONTRASEÑA</h1>
      <!-- Formulario de recuperación de contraseña -->
      <form [formGroup]="form" autocomplete="off">
        <label class="container-input">
          <p class="labels">Usuario</p>
          <input type="text" formControlName="user" [ngClass]="{'error': form.get('user')?.invalid && form.get('user')?.dirty}">
          @if(form.get('user')?.invalid && form.get('user')?.dirty) {
            <div class="error-message">El usuario es obligatorio.</div>
          }
        </label>
        <label class="container-input">
          <p class="labels">Correo Electrónico</p>
          <input type="email" formControlName="email" [ngClass]="{'error': form.get('email')?.invalid && form.get('email')?.dirty}">
          @if(form.get('email')?.invalid && form.get('email')?.dirty) {
            <div class="error-message">
              @if (form.get('email')?.errors?.['required']) {
                El correo electrónico es obligatorio.
              } @else if (form.get('email')?.errors?.['email']) {
                Formato de correo electrónico inválido.
              }
            </div>
          }
        </label>
        <button (click)="onRecoverPassword()" [disabled]="form.invalid" class="btn btn-primary">RECUPERAR CONTRASEÑA</button>
        <p class="link link-register">
          <span>¿Recordaste tu contraseña?</span> 
          <i (click)="navigateTo('/login')" class="link"> Inicia sesión</i>
        </p>
      </form>
    </section>
  </body>
</ion-content>